.imageWrapper {					// Sets the background image in the header area
	height: 714px;
	background:
		linear-gradient(
		135deg,
		rgba(#9333ea, 0.85) 0%,
		rgba(#d946ef, 0.75) 35%,
		rgba(#f97316, 0.8) 70%,
		rgba(#fbbf24, 0.75) 100%
		),

		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0px 0px 40px 40px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background:
			radial-gradient(circle at 20% 50%, rgba(#d946ef, 0.3) 0%, transparent 50%),
			radial-gradient(circle at 80% 80%, rgba(#f97316, 0.3) 0%, transparent 50%);
		border-radius: 0px 0px 40px 40px;
		pointer-events: none;
	}

}

.headerBackground {
	height: 115px;
	background: linear-gradient(180deg, rgba($header-color, 0.4) 0%, transparent 100%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	position: relative;
	z-index: 10;
}

@media only screen and (max-width: 768px) {

	.headerBackground {
		height: 80px;
	}

}

.subPageHeaderBackground {
	background-color: #fff;
}

.container {					// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px 876px auto auto;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p i i i i i i i"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

.subPageContainer {
	grid-template-rows: 115px auto auto auto;
	background-color: #fff;
}

@media only screen and (max-width: 768px) {

	.container {					// Set up the container for the site content
		grid-template-rows: 80px 811px auto auto;
	}
}

@media only screen and (max-width: 992px) {

	.container {
		grid-column-gap: 0px;
		grid-template-columns: 1;
		grid-template-rows: 115px auto auto auto auto;
		grid-template-areas: 
			"h h h h h h h h h h h h"
			"i i i i i i i i i i i i"
			"p p p p p p p p p p p p"
			"c c c c c c c c c c c c"
			"f f f f f f f f f f f f";
	}
}

.page {
	margin-top: 30px;
	margin-bottom: 70px;
	grid-column: 3/11;
}

@media only screen and (max-width: 768px) {

	.page {
		margin-top: 30px;
		margin-bottom: 70px;
		grid-column: 1/-1;
	}
	
} 

header {
	grid-area: h;
	display: flex;
	margin-right: -15px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 115px;
	margin-right: 30px;
}

.logo > p {
	color: $header-title-color;
	white-space: nowrap;
	display: flex;
	font-weight: bold;
	margin-left: 15px;
}

@media only screen and (max-width: 768px) {

	.logo {
		height: 80px;
		margin-right: 0px;
	}

	.logo > p {
		display: none;
	}
	
} 

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
}

@media only screen and (max-width: 768px) {

	.divider {
		position: relative;
		min-width: 1px;
		max-width: 1px;
		background-color:rgba(127, 127, 127, 0.2);
		display: inline-block;
		margin-left: 15px;
	}	
	
} 


// Navigation Links
.scroll {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;

	height: 115px;
	//margin-left: 15px;

	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 768px) {

	.scroll {
		height: 80px;
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -60px;
		justify-content: flex-start;
	}	
	
} 

.scroll::-webkit-scrollbar {
	display: none;
}


nav > ul {
	color: #fff;
	display: flex;
	list-style-type: none;

}

nav > ul li {
	padding-left: 30px;
}

@media only screen and (max-width: 768px) {

	nav > ul li {
		padding-left: 20px;
	}

}

nav > ul li:first-child {
	padding-left: 0px;
	padding-left: 15px;
}

nav > ul li:last-child {
	padding-right: 15px;
}

nav > ul li a:link,
nav > ul li a:visited {
	text-decoration: none;
	color: rgba($header-title-color, 0.6);
}

nav > ul li a:hover,
nav > ul li a:active {
	text-decoration: none;
	color: rgba($header-title-color, 1);
}



// Sub Page Header Styling
.subPageHeaderBackground .logo > p {
	color: #000;
}

.subPageHeaderBackground nav > ul li a:link,
.subPageHeaderBackground nav > ul li a:visited {
	color: rgba(#000, 0.6);
}

.subPageHeaderBackground nav > ul li a:hover,
.subPageHeaderBackground nav > ul li a:active {
	color: rgba(#000, 1);
}



// App Title, Price, Description and Links

.appInfo {
	grid-area: i;
	display: flex;
	flex-wrap: wrap;
	padding-top: 140px;
	align-content: flex-start;
}

@media only screen and (max-width: 992px) {

	.appInfo {
		padding-top: 50px;
		justify-content: center;
	}

} 

.appIconShadow {
	display: flex;
	filter: $drop-shadow;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05) translateY(-2px);
	}
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
	border: 3px solid rgba(255, 255, 255, 0.2);
	border-radius: 27px;
}

.appNamePriceContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: 30px;
}

.appName {
	color: $app-title-color;
	font-size: 3.5rem;
	font-weight: 700;
	text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
	letter-spacing: -0.5px;
}

.appPrice {
	color: $app-price-color;
	font-weight: 600;
	margin-top: 13px;
	font-size: 2.2rem;
	text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {

	.appNamePriceContainer {
		width: 100%;
		margin-left: 0px;
		align-items: center;
		justify-content: center;
	}

	.appName {
		margin-top: 30px;
		text-align: center;
	}
	
	.appPrice {
		margin-top: 13px;
		text-align: center;
	}
	
} 

.appDescriptionContainer {
	font-size: 2.5rem;
	font-weight: normal;
	width: 100%;
	align-items: flex-start;
	margin-top: 45px;
	flex: 0 1 auto;
	line-height: 1.65;
}

.appDescription {
	color: $app-description-color;
	text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	font-weight: 400;
}

@media only screen and (max-width: 992px) {

	.appDescription {
		text-align: center;
	}
	
} 

.downloadButtonsContainer {
	display: inline-block;
	margin-top: 42px;
	filter: $drop-shadow;

	a {
		transition: transform 0.2s ease, filter 0.2s ease;
		display: inline-block;

		&:hover {
			transform: translateY(-3px);
			filter: brightness(1.1) drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.2));
		}
	}
}

@media only screen and (max-width: 992px) {

	.downloadButtonsContainer {
		text-align: center;
	}
	
} 

.playStore {
	height: 75px;
	margin-right: 24px;
}

@media only screen and (max-width: 992px) {

	.playStore {
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.playStore {
		margin-right: 0px;
		margin-bottom: 24px;
	}
	
} 

.appStore {
	height: 75px;
}



// iPhone Device Preview

.iphonePreview {
	grid-area: p;
	background-image: url($device-color);
	background-size: 480px auto;
	background-repeat: no-repeat;
	margin-top: 68px;
}

.iphoneScreen {
	width: 419px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 31px;
	margin-top: 28px;
}

.videoContainer {
	width: 419px;
	height: 906px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 31px;
	margin-top: 28px;
}

.videoContainer > video {
	width: 419px;
	height: 906px;
}

@media only screen and (max-width: 1070px) {

	.iphonePreview {
		background-size: 444px auto;
	}

	.iphoneScreen {
		width: 386px;
		margin-left: 29px;
		margin-top: 26px;
	}

	.videoContainer {
		width: 386px;
		height: 838px;
		margin-left: 29px;
		margin-top: 26px;
	}

	.videoContainer > video {
		width: 386px;
		height: 838px;
	}

} 

@media only screen and (max-width: 992px) {

	.iphonePreview {
		display: flex;
		background-size: 312px auto;
		background-position: center 0;
		margin-top: 47px;
		justify-content: center;
		padding-bottom: 75px;
	}

	.iphoneScreen {
		width: 271px;
		height: 586px;
		-webkit-clip-path: url(#screenMask);
		clip-path: url(#screenMask);
		margin: 0px;
		margin-top: 20px;
	}

	.videoContainer {
		width: 271px;
		height: 586px;
		margin-left: 0px;
		margin-top: 20px;
	}

	.videoContainer > video {
		width: 271px;
		height: 586px;
	}

} 


// Feature List

.features {
	grid-area: c;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 93px;
}

.feature {
	display: flex;
	background: white;
	border-radius: 20px;
	padding: 35px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid rgba(147, 51, 234, 0.1);

	&:hover {
		transform: translateY(-8px);
		box-shadow:
			0 20px 40px rgba(147, 51, 234, 0.15),
			0 0 0 1px rgba(217, 70, 239, 0.2);
	}
}

.iconBack {
	color: transparent;
	background: linear-gradient(135deg, #fdf4ff 0%, #faf5ff 100%);
	border-radius: 50%;
}

.iconTop {
	background: linear-gradient(135deg, #d946ef 0%, #9333ea 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

.featureText {
	margin-left: 18px;
	flex: 1;
}

.featureText > h3 {
	color: $feature-title-color;
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 10px;
	letter-spacing: -0.3px;
}

.featureText > p {
	color: $feature-text-color;
	margin-top: 8px;
	line-height: 1.65;
	font-size: 1.7rem;
}

@media only screen and (max-width: 992px) {

	.features {
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 50px;
	}

	.feature {
		padding: 30px;
	}

}

@media only screen and (max-width: 375px) {

	.features {
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 50px;
	}

	.feature {
		padding: 25px;
	}

} 



// Footer

footer {
	grid-area: f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footerIcons {
	padding-bottom: 70px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.footerLinks {
	display: flex;
	text-align: center;
	padding-bottom: 70px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}


@media only screen and (max-width: 768px) {

	.footerLinks {
		flex-direction: column;
	}

	.footerLinks a {
		justify-content: stretch;
		margin-right: 0px;
		margin-top: 20px;
	}

	.footerLinks a:first-child {
		margin-top: 0px;
	}	

}

@media only screen and (max-width: 992px) {
	
	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
		padding-top: 54px;
		padding-bottom: 61px;
	}
	
	.footerIcons {
		padding-bottom: 70px;
		display: flex;
	}
	
} 

.hidden {
	display: none;
}